<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306239494179-djm35h77lfs96r6635nslfr6ibvkeg2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306239494179-djm35h77lfs96r6635nslfr6ibvkeg2k</string>
	<key>API_KEY</key>
	<string>AIzaSyAQa-BcsGbFne46fjTsU1SBV_BcL9PpZa4</string>
	<key>GCM_SENDER_ID</key>
	<string>306239494179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyojin.wtw</string>
	<key>PROJECT_ID</key>
	<string>what-to-watch-2b374</string>
	<key>STORAGE_BUCKET</key>
	<string>what-to-watch-2b374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306239494179:ios:32e44dcacd8b0b5335f996</string>
</dict>
</plist>